.auth-card {
  display: flex;
  flex-direction: row;

  .form-side {
    flex: 1;
    padding: 80px;
  }

  .image-side {
    width: 100%;
    padding: 60px;
  }

  .form-side {
    width: 100%;
    padding: 60px;
  }
}
